#index {
  display: grid;
  grid-template-columns: $padding-wrapper;
  grid-template-rows: minmax(50vh, 100vh) minmax(200px, auto) minmax(500px, auto) minmax(500px, auto);
  grid-template-areas: "teaser teaser teaser"
                       "taktgeber taktgeber taktgeber"
                       "animals animals animals"
                       "chronotypen chronotypen chronotypen";

   @media screen and (min-width: $mid-screen) {
     grid-template-columns: 1fr 3fr 1fr;
   }

  #teaser {
    grid-area: teaser;
    text-align: center;
    background-image: url("../images/sleep.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 50%;
    display: grid;
    grid-template-columns: $padding-wrapper;
    grid-template-rows: 10px auto;
    grid-template-areas: ". . ."
                         ". teaser-text .";

    #teaser-text {
      grid-area: teaser-text;
    }

    @media screen and (min-width: $mid-screen) {
      grid-template-rows: 5em auto;
      background-position: 50% 30%;
      grid-template-columns: 2fr 2fr 1fr;
    }
  }

  #taktgeber {
    background: linear-gradient(#0a0a0a, $color-main);
    padding: $padding-up-bottom 0;
    padding-top: 0;
    grid-area: taktgeber;
    display: grid;
    grid-row-gap: 3em;
    grid-template-columns: $padding-wrapper;
    grid-template-rows: auto auto;
    grid-template-areas: ". heading ."
                         ". clock ."
                         ". text .";

    @media screen and (min-width: $mid-screen) {
      grid-template-columns: 1fr 1fr 2fr 1fr ;
      grid-template-areas:  " . heading heading ."
                            ". clock text .";
      grid-gap: 0.3em;
    }

    .taktgeber-heading {
      grid-area: heading;
    }

    .clock {
      grid-area: clock;
      border-radius: 50%;
      background: #000 url("../images/ios_clock.svg") no-repeat center;
      background-size: 88%;
      height: 10em;
      position: relative;
      width: 10em;
      justify-self: center;
      align-self: center;
      border: 1px solid #ccc;

      &::after {
        background: #fff;
        border-radius: 50%;
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 5%;
        height: 5%;
        z-index: 10;
      }

      .minutes-container, .hours-container, .seconds-container {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }

      .hours {
        background: #fff;
        height: 20%;
        left: 48.75%;
        position: absolute;
        top: 30%;
        transform-origin: 50% 100%;
        width: 2.5%;
      }

      .minutes {
        background: #fff;
        height: 40%;
        left: 49%;
        position: absolute;
        top: 10%;
        transform-origin: 50% 100%;
        width: 2%;
      }

      .seconds {
        background: #fff;
        height: 45%;
        left: 49.5%;
        position: absolute;
        top: 14%;
        transform-origin: 50% 80%;
        width: 1%;
        z-index: 8;
      }

      .hours-container {
        animation: rotate 43200s infinite linear;
      }
      .minutes-container {
        animation: rotate 3600s infinite linear;
      }
      .seconds-container {
        animation: rotate 60s infinite linear;
      }
    }

    .taktgeber-text {
      grid-area: text;
    }

  }

  #animals {
    grid-area: animals;
    background-color: $color-main;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: $padding-wrapper;
    grid-template-areas: ". animals-text ."
                         ". animals-box .";

     @media screen and (min-width: $mid-screen) {
       grid-template-columns: 2fr 6fr 2fr;
     }

    #animals-text {
      grid-area: animals-text;
    }

    #animals-box {
      grid-area: animals-box;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      div {
        width: 100%;
        height: auto;
        margin: 1em 0;
        border: 1px solid #ccc;
        padding: 15px;

        @media screen and (min-width: $mid-screen) {
          width: 28%;
        }

        img {
          max-width: 100%;
          filter: grayscale(80%);
        }

        p {
          text-align: center;
        }
      }
    }
  }

  #chronotypen {
    grid-area: chronotypen;
    // background: linear-gradient($color-main, #000);
    background-color: $color-main;

    display: grid;
    grid-template-rows: auto;
    grid-template-columns: $padding-wrapper;
    grid-template-areas: ". chrono .";

    @media screen and (min-width: $mid-screen) {
      grid-template-columns: 1fr 3fr 1fr;
    }

    .content {
      grid-area: chrono;

      a {
        background-color: #fff;
        padding: 1em;
        text-decoration: none;
        color: #000;
        margin: 2em 0;
        width: 80%;
      }
    }
  }
}
