#index {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: minmax(50vh, 100vh) minmax(200px, 2fr) minmax(500px, 2fr);
  grid-template-areas: "teaser teaser teaser"
                       ". taktgeber ."
                       "test test test";



  #teaser {
    grid-area: teaser;
    text-align: center;
    background-image: url("../images/sleep.jpg");
    fill: object-fit;
  }

  #taktgeber {
    grid-area: taktgeber;
  }

  #test {
    grid-area: test;
    background-color: #983433;
  }

  // text-align: center;
  // margin: 0 10vw;
  // margin-top: 10vh;
  //
  // @media screen and (min-width: $mid-screen) {
  //   margin: 0 20vw;
  //   margin-top: 10vh;
  // }
}
